@charset "UTF-8";
/*Обнуление*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,700,900");
@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*--------------------*/
body {
  font-family: 'Indie Flower';
  font-size: 24px;
}

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: #00DEE1;
}

.footer {
  background: #21B6F5;
  color: #FFFFFF;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  padding: 50px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 1000px;
  background: #FFAAAA;
}

.container {
  width: 1000px;
  background-color: #FFFFFF;
  padding: 9px 9px 9px 9px;
  height: 100%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image {
  border-radius: 45%;
}

.image_2 {
  width: 150px;
  height: 123px;
  border-radius: 61px;
  margin-left: 137px;
}

.image_3 {
  border-radius: 53px;
  margin-top: 150px;
  margin-left: 71px;
  height: 107px;
  width: 200px;
}

.guy_image {
  margin: 88px 0px 0px 63px;
  border: solid 1px #F29696;
  border-radius: 100px 464px 464px 464px;
  height: 308px;
  width: 340px;
  overflow: hidden;
  background-image: url("../img/guy.png");
  background-size: auto 100%;
  background-position: center center;
}

.my_introduction {
  margin-top: 249px;
  width: 323px;
  height: 124px;
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

nav {
  margin: 89px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav_button {
  background-color: rgba(255, 238, 193, 0.84);
  margin: 27px 0 0 0;
  padding: 0 24px 0 24px;
  height: 46px;
  min-width: 136px;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.button_span {
  display: block;
  width: 30px;
  height: 2px;
  margin: 6px;
  background-color: black;
}

.nav_button:hover {
  color: #FF537C;
}

.nav_button:hover .button_span {
  background-color: #FF537C;
}

.nav_button:active {
  color: #D32020;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav_button:active .button_span {
  background-color: #D32020;
}

.main p {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main p:first-child {
  text-indent: -100px;
  line-height: 30px;
  font-family: 'Inder';
}

.main p:nth-child(2) {
  line-height: 35px;
  color: #886A1D;
}

.main p:nth-child(3) {
  line-height: 25px;
  color: #8C6B59;
  font-family: 'Inconsolata';
}

.main p:nth-child(4) {
  line-height: 31px;
  color: #7B0808;
  font-family: 'Inika';
}

.who_am_I {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 170px;
  margin-top: 18px;
}

.who_am_I_list {
  margin-top: 42px;
  text-decoration: underline;
}

.I_am {
  color: #FC4F4F;
}
